.body__container {
  max-width: 1600px;
  height: 100%;
  margin: auto;
}
.body__header {
  max-width: 2000px;
  height: 100px;
  background-color: floralwhite;
  border-radius: 5px;
}
.header__fullCart {
  float: right;
}

/* Fullcart */
.fullCart {
  position: relative;
  display: inline-block;
}

.fullCart__cart {
  width: 60px;
  height: 60px;
}

.fullCart__quantity {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: tomato;
  display: block;
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 25px;
  font-weight: bold;
}
/* End Fullcart */

.container {
  display: flex;
  flex-wrap: wrap;
}
.container__card {
  margin: 15px;
  width: 350px;
  height: 400px;
  background-color: floralwhite;
  border-radius: 5px;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.tablo {
 text-align: center;
}

.imgProduct {
  border-radius: 50%;
  display: block;
}
.card__imgProduct {
  width: 200px;
  height: 200px;
  margin: 30px auto 25px;
}
.description {
  margin: 0;
  font-size: 14px;
  padding: 0 14px;
  opacity: 0.5;
}
.card__description{
  margin-bottom: 15px;
}
.amount {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0;
  box-sizing: border-box;
}
.amount:focus{
  border: 3px solid #ddd;
  outline: none;
}

.count {
  width: 50px;
  height: 25px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box;
}

.count:focus {
  border: 3px solid #ddd;
  outline: none;
}

.addToCart::before {
  content: "\f07a";
  font-family: FontAwesome;
  color: #aaaaaa;
  margin-right: 10px;
}
.addToCart{
  box-sizing: border-box;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
 
}
.addToCart:focus{
  border: 3px solid #ddd;
  outline: none;
}
.card__price {
  margin: 0 0 10px;
  text-align: center;
}
