.forma{
    margin: 10px;
}
.forma__lable{
    width: 100px;
    height: 20px;
    display: inline-block;
}
.forma__input{
    width: 150px;
    height: 18px;
    margin: 2px;
}
.forma__button{
    width: 80px;
    height: 20px;
    display: block;
   margin: 10px auto;

}
.errorMessage{
    color: red;
}